Group_Project_WebApplication/Group_Project_WebApplication/Connected Services/ServiceReference1/SalonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SalonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60515/SalonService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60515/SalonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60515/SalonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Group_Project_Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISalonService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ISalonService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_doesExist_InputMessage">
    <wsdl:part name="parameters" element="tns:doesExist" />
  </wsdl:message>
  <wsdl:message name="ISalonService_doesExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:doesExistResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_UpdateInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInfo" />
  </wsdl:message>
  <wsdl:message name="ISalonService_UpdateInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_registerStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:registerStaff" />
  </wsdl:message>
  <wsdl:message name="ISalonService_registerStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerStaffResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_SignIn_InputMessage">
    <wsdl:part name="parameters" element="tns:SignIn" />
  </wsdl:message>
  <wsdl:message name="ISalonService_SignIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignInResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_getLatestProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:getLatestProducts" />
  </wsdl:message>
  <wsdl:message name="ISalonService_getLatestProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLatestProductsResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_getProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:getProducts" />
  </wsdl:message>
  <wsdl:message name="ISalonService_getProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductsResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_getProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:getProduct" />
  </wsdl:message>
  <wsdl:message name="ISalonService_getProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_updateProductInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:updateProductInfo" />
  </wsdl:message>
  <wsdl:message name="ISalonService_updateProductInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateProductInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="ISalonService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/Register" message="tns:ISalonService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/RegisterResponse" message="tns:ISalonService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doesExist">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/doesExist" message="tns:ISalonService_doesExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/doesExistResponse" message="tns:ISalonService_doesExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/UpdateInfo" message="tns:ISalonService_UpdateInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/UpdateInfoResponse" message="tns:ISalonService_UpdateInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registerStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/registerStaff" message="tns:ISalonService_registerStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/registerStaffResponse" message="tns:ISalonService_registerStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/SignIn" message="tns:ISalonService_SignIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/SignInResponse" message="tns:ISalonService_SignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLatestProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/getLatestProducts" message="tns:ISalonService_getLatestProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/getLatestProductsResponse" message="tns:ISalonService_getLatestProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/getProducts" message="tns:ISalonService_getProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/getProductsResponse" message="tns:ISalonService_getProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/getProduct" message="tns:ISalonService_getProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/getProductResponse" message="tns:ISalonService_getProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateProductInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/updateProductInfo" message="tns:ISalonService_updateProductInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/updateProductInfoResponse" message="tns:ISalonService_updateProductInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISalonService" type="tns:ISalonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/ISalonService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doesExist">
      <soap:operation soapAction="http://tempuri.org/ISalonService/doesExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInfo">
      <soap:operation soapAction="http://tempuri.org/ISalonService/UpdateInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerStaff">
      <soap:operation soapAction="http://tempuri.org/ISalonService/registerStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <soap:operation soapAction="http://tempuri.org/ISalonService/SignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLatestProducts">
      <soap:operation soapAction="http://tempuri.org/ISalonService/getLatestProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProducts">
      <soap:operation soapAction="http://tempuri.org/ISalonService/getProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProduct">
      <soap:operation soapAction="http://tempuri.org/ISalonService/getProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProductInfo">
      <soap:operation soapAction="http://tempuri.org/ISalonService/updateProductInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalonService">
    <wsdl:port name="BasicHttpBinding_ISalonService" binding="tns:BasicHttpBinding_ISalonService">
      <soap:address location="http://localhost:60515/SalonService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>