Group_Project_WebApplication/Group_Project_WebApplication/Connected Services/ServiceReference1/SalonService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60515/SalonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Group_Project_Service" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usertype" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doesExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doesExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doesExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registerStaffResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Group_Project_Service" minOccurs="0" name="SignInResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Group_Project_Service" minOccurs="0" name="getUserResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLatestProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLatestProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Group_Project_Service" minOccurs="0" name="getLatestProductsResult" nillable="true" type="q3:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHairApp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getHairAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Group_Project_Service" minOccurs="0" name="getHairAppResult" nillable="true" type="q4:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHairProd">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getHairProdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Group_Project_Service" minOccurs="0" name="getHairProdResult" nillable="true" type="q5:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHairAcc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getHairAccResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Group_Project_Service" minOccurs="0" name="getHairAccResult" nillable="true" type="q6:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Group_Project_Service" minOccurs="0" name="getProductsResult" nillable="true" type="q7:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prodID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Group_Project_Service" minOccurs="0" name="getProductResult" nillable="true" type="q8:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateProductQuantity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prodID" type="xs:int" />
        <xs:element minOccurs="0" name="subtractQunatity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateProductQuantityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateProductInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prodID" type="xs:int" />
        <xs:element minOccurs="0" name="prodName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prodDesc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prodQuantity" type="xs:int" />
        <xs:element minOccurs="0" name="prodCat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prodPrice" type="xs:decimal" />
        <xs:element minOccurs="0" name="imgLoc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateProductInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateProductInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prodID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prodName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prodDesc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prodPrice" type="xs:decimal" />
        <xs:element minOccurs="0" name="imgLoc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prodQuantity" type="xs:int" />
        <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="prodID" type="xs:int" />
        <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToCartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="isInCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="prodID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isInCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isInCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCartItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCartItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Group_Project_Service" minOccurs="0" name="getCartItemsResult" nillable="true" type="q9:ArrayOfCart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFromCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="prodID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFromCartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="editCartQuantity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="prodID" type="xs:int" />
        <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editCartQuantityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="clearCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clearCartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="Products" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Subtotal" type="xs:double" />
        <xs:element minOccurs="0" name="VAT" type="xs:double" />
        <xs:element minOccurs="0" name="Discount" type="xs:double" />
        <xs:element minOccurs="0" name="Shipping" type="xs:double" />
        <xs:element minOccurs="0" name="GrandTotal" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addInvoiceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invoiceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Group_Project_Service" minOccurs="0" name="getInvoiceResult" nillable="true" type="q10:Invoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Group_Project_Service" minOccurs="0" name="getUserInvoiceResult" nillable="true" type="q11:ArrayOfInvoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doesInvoiceExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doesInvoiceExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doesInvoiceExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUnpaidInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="Products" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Subtotal" type="xs:double" />
        <xs:element minOccurs="0" name="VAT" type="xs:double" />
        <xs:element minOccurs="0" name="Discount" type="xs:double" />
        <xs:element minOccurs="0" name="Shipping" type="xs:double" />
        <xs:element minOccurs="0" name="GrandTotal" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUnpaidInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateUnpaidInvoiceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="paidInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invoiceID" type="xs:int" />
        <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="paidInvoiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateProductReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="totalHASold" type="xs:int" />
        <xs:element minOccurs="0" name="totalHPSold" type="xs:int" />
        <xs:element minOccurs="0" name="totalHAPSold" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateProductReportResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductReport">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Group_Project_Service" minOccurs="0" name="getProductReportResult" nillable="true" type="q12:ProductReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element minOccurs="0" name="review" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addReviewResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="reviewExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="productID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reviewExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reviewExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element minOccurs="0" name="review" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateReviewResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumReviews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumReviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNumReviewsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReviews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Group_Project_Service" minOccurs="0" name="getReviewsResult" nillable="true" type="q13:ArrayOfReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>