Group_Project_WebApplication/Group_Project_WebApplication/Connected Services/ServiceReference1/SalonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SalonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60515/SalonService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60515/SalonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60515/SalonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Group_Project_Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISalonService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ISalonService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_doesExist_InputMessage">
    <wsdl:part name="parameters" element="tns:doesExist" />
  </wsdl:message>
  <wsdl:message name="ISalonService_doesExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:doesExistResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_UpdateInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInfo" />
  </wsdl:message>
  <wsdl:message name="ISalonService_UpdateInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_registerStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:registerStaff" />
  </wsdl:message>
  <wsdl:message name="ISalonService_registerStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerStaffResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_SignIn_InputMessage">
    <wsdl:part name="parameters" element="tns:SignIn" />
  </wsdl:message>
  <wsdl:message name="ISalonService_SignIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignInResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_getLatestProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:getLatestProducts" />
  </wsdl:message>
  <wsdl:message name="ISalonService_getLatestProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLatestProductsResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_getHairApp_InputMessage">
    <wsdl:part name="parameters" element="tns:getHairApp" />
  </wsdl:message>
  <wsdl:message name="ISalonService_getHairApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHairAppResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_getHairProd_InputMessage">
    <wsdl:part name="parameters" element="tns:getHairProd" />
  </wsdl:message>
  <wsdl:message name="ISalonService_getHairProd_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHairProdResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_getHairAcc_InputMessage">
    <wsdl:part name="parameters" element="tns:getHairAcc" />
  </wsdl:message>
  <wsdl:message name="ISalonService_getHairAcc_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHairAccResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_getProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:getProducts" />
  </wsdl:message>
  <wsdl:message name="ISalonService_getProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductsResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_getProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:getProduct" />
  </wsdl:message>
  <wsdl:message name="ISalonService_getProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_updateProductQuantity_InputMessage">
    <wsdl:part name="parameters" element="tns:updateProductQuantity" />
  </wsdl:message>
  <wsdl:message name="ISalonService_updateProductQuantity_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateProductQuantityResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_updateProductInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:updateProductInfo" />
  </wsdl:message>
  <wsdl:message name="ISalonService_updateProductInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateProductInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_removeProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:removeProduct" />
  </wsdl:message>
  <wsdl:message name="ISalonService_removeProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeProductResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_addProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:addProduct" />
  </wsdl:message>
  <wsdl:message name="ISalonService_addProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:addProductResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_addToCart_InputMessage">
    <wsdl:part name="parameters" element="tns:addToCart" />
  </wsdl:message>
  <wsdl:message name="ISalonService_addToCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:addToCartResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_isInCart_InputMessage">
    <wsdl:part name="parameters" element="tns:isInCart" />
  </wsdl:message>
  <wsdl:message name="ISalonService_isInCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:isInCartResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_getCartItems_InputMessage">
    <wsdl:part name="parameters" element="tns:getCartItems" />
  </wsdl:message>
  <wsdl:message name="ISalonService_getCartItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCartItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_removeFromCart_InputMessage">
    <wsdl:part name="parameters" element="tns:removeFromCart" />
  </wsdl:message>
  <wsdl:message name="ISalonService_removeFromCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeFromCartResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_editCartQuantity_InputMessage">
    <wsdl:part name="parameters" element="tns:editCartQuantity" />
  </wsdl:message>
  <wsdl:message name="ISalonService_editCartQuantity_OutputMessage">
    <wsdl:part name="parameters" element="tns:editCartQuantityResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_clearCart_InputMessage">
    <wsdl:part name="parameters" element="tns:clearCart" />
  </wsdl:message>
  <wsdl:message name="ISalonService_clearCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:clearCartResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_addInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:addInvoice" />
  </wsdl:message>
  <wsdl:message name="ISalonService_addInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:addInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_getInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:getInvoice" />
  </wsdl:message>
  <wsdl:message name="ISalonService_getInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:getInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_getUserInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserInvoice" />
  </wsdl:message>
  <wsdl:message name="ISalonService_getUserInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_doesInvoiceExist_InputMessage">
    <wsdl:part name="parameters" element="tns:doesInvoiceExist" />
  </wsdl:message>
  <wsdl:message name="ISalonService_doesInvoiceExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:doesInvoiceExistResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_updateUnpaidInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:updateUnpaidInvoice" />
  </wsdl:message>
  <wsdl:message name="ISalonService_updateUnpaidInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateUnpaidInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="ISalonService_paidInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:paidInvoice" />
  </wsdl:message>
  <wsdl:message name="ISalonService_paidInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:paidInvoiceResponse" />
  </wsdl:message>
  <wsdl:portType name="ISalonService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/Register" message="tns:ISalonService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/RegisterResponse" message="tns:ISalonService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doesExist">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/doesExist" message="tns:ISalonService_doesExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/doesExistResponse" message="tns:ISalonService_doesExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/UpdateInfo" message="tns:ISalonService_UpdateInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/UpdateInfoResponse" message="tns:ISalonService_UpdateInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registerStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/registerStaff" message="tns:ISalonService_registerStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/registerStaffResponse" message="tns:ISalonService_registerStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/SignIn" message="tns:ISalonService_SignIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/SignInResponse" message="tns:ISalonService_SignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLatestProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/getLatestProducts" message="tns:ISalonService_getLatestProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/getLatestProductsResponse" message="tns:ISalonService_getLatestProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHairApp">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/getHairApp" message="tns:ISalonService_getHairApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/getHairAppResponse" message="tns:ISalonService_getHairApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHairProd">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/getHairProd" message="tns:ISalonService_getHairProd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/getHairProdResponse" message="tns:ISalonService_getHairProd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHairAcc">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/getHairAcc" message="tns:ISalonService_getHairAcc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/getHairAccResponse" message="tns:ISalonService_getHairAcc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/getProducts" message="tns:ISalonService_getProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/getProductsResponse" message="tns:ISalonService_getProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/getProduct" message="tns:ISalonService_getProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/getProductResponse" message="tns:ISalonService_getProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateProductQuantity">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/updateProductQuantity" message="tns:ISalonService_updateProductQuantity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/updateProductQuantityResponse" message="tns:ISalonService_updateProductQuantity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateProductInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/updateProductInfo" message="tns:ISalonService_updateProductInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/updateProductInfoResponse" message="tns:ISalonService_updateProductInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/removeProduct" message="tns:ISalonService_removeProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/removeProductResponse" message="tns:ISalonService_removeProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/addProduct" message="tns:ISalonService_addProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/addProductResponse" message="tns:ISalonService_addProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addToCart">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/addToCart" message="tns:ISalonService_addToCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/addToCartResponse" message="tns:ISalonService_addToCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isInCart">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/isInCart" message="tns:ISalonService_isInCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/isInCartResponse" message="tns:ISalonService_isInCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCartItems">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/getCartItems" message="tns:ISalonService_getCartItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/getCartItemsResponse" message="tns:ISalonService_getCartItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeFromCart">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/removeFromCart" message="tns:ISalonService_removeFromCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/removeFromCartResponse" message="tns:ISalonService_removeFromCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editCartQuantity">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/editCartQuantity" message="tns:ISalonService_editCartQuantity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/editCartQuantityResponse" message="tns:ISalonService_editCartQuantity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="clearCart">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/clearCart" message="tns:ISalonService_clearCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/clearCartResponse" message="tns:ISalonService_clearCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/addInvoice" message="tns:ISalonService_addInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/addInvoiceResponse" message="tns:ISalonService_addInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/getInvoice" message="tns:ISalonService_getInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/getInvoiceResponse" message="tns:ISalonService_getInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/getUserInvoice" message="tns:ISalonService_getUserInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/getUserInvoiceResponse" message="tns:ISalonService_getUserInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doesInvoiceExist">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/doesInvoiceExist" message="tns:ISalonService_doesInvoiceExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/doesInvoiceExistResponse" message="tns:ISalonService_doesInvoiceExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateUnpaidInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/updateUnpaidInvoice" message="tns:ISalonService_updateUnpaidInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/updateUnpaidInvoiceResponse" message="tns:ISalonService_updateUnpaidInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="paidInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalonService/paidInvoice" message="tns:ISalonService_paidInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalonService/paidInvoiceResponse" message="tns:ISalonService_paidInvoice_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISalonService" type="tns:ISalonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/ISalonService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doesExist">
      <soap:operation soapAction="http://tempuri.org/ISalonService/doesExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInfo">
      <soap:operation soapAction="http://tempuri.org/ISalonService/UpdateInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerStaff">
      <soap:operation soapAction="http://tempuri.org/ISalonService/registerStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <soap:operation soapAction="http://tempuri.org/ISalonService/SignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLatestProducts">
      <soap:operation soapAction="http://tempuri.org/ISalonService/getLatestProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHairApp">
      <soap:operation soapAction="http://tempuri.org/ISalonService/getHairApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHairProd">
      <soap:operation soapAction="http://tempuri.org/ISalonService/getHairProd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHairAcc">
      <soap:operation soapAction="http://tempuri.org/ISalonService/getHairAcc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProducts">
      <soap:operation soapAction="http://tempuri.org/ISalonService/getProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProduct">
      <soap:operation soapAction="http://tempuri.org/ISalonService/getProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProductQuantity">
      <soap:operation soapAction="http://tempuri.org/ISalonService/updateProductQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProductInfo">
      <soap:operation soapAction="http://tempuri.org/ISalonService/updateProductInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeProduct">
      <soap:operation soapAction="http://tempuri.org/ISalonService/removeProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addProduct">
      <soap:operation soapAction="http://tempuri.org/ISalonService/addProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addToCart">
      <soap:operation soapAction="http://tempuri.org/ISalonService/addToCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isInCart">
      <soap:operation soapAction="http://tempuri.org/ISalonService/isInCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCartItems">
      <soap:operation soapAction="http://tempuri.org/ISalonService/getCartItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeFromCart">
      <soap:operation soapAction="http://tempuri.org/ISalonService/removeFromCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editCartQuantity">
      <soap:operation soapAction="http://tempuri.org/ISalonService/editCartQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clearCart">
      <soap:operation soapAction="http://tempuri.org/ISalonService/clearCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addInvoice">
      <soap:operation soapAction="http://tempuri.org/ISalonService/addInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvoice">
      <soap:operation soapAction="http://tempuri.org/ISalonService/getInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserInvoice">
      <soap:operation soapAction="http://tempuri.org/ISalonService/getUserInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doesInvoiceExist">
      <soap:operation soapAction="http://tempuri.org/ISalonService/doesInvoiceExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUnpaidInvoice">
      <soap:operation soapAction="http://tempuri.org/ISalonService/updateUnpaidInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="paidInvoice">
      <soap:operation soapAction="http://tempuri.org/ISalonService/paidInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalonService">
    <wsdl:port name="BasicHttpBinding_ISalonService" binding="tns:BasicHttpBinding_ISalonService">
      <soap:address location="http://localhost:60515/SalonService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>