Group_Project_WebApplication/Group_Project_WebApplication/Connected Services/ServiceReference1/SalonService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Group_Project_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Group_Project_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usertype" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImageLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LatestProduct" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfCart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cart" nillable="true" type="tns:Cart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCart" nillable="true" type="tns:ArrayOfCart" />
  <xs:complexType name="Cart">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="productID" type="xs:int" />
      <xs:element minOccurs="0" name="userID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cart" nillable="true" type="tns:Cart" />
  <xs:complexType name="Invoice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Discount" type="xs:decimal" />
      <xs:element minOccurs="0" name="GrandTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Products" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="Subtotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="VAT" type="xs:decimal" />
      <xs:element minOccurs="0" name="isPaid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="userID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Invoice" nillable="true" type="tns:Invoice" />
  <xs:complexType name="ArrayOfInvoice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Invoice" nillable="true" type="tns:Invoice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoice" nillable="true" type="tns:ArrayOfInvoice" />
  <xs:complexType name="ProductReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TotalProdsAvaliable" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalProdsSold" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="totalHA" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="totalHAP" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="totalHAPSold" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="totalHASold" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="totalHP" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="totalHPSold" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductReport" nillable="true" type="tns:ProductReport" />
  <xs:complexType name="ArrayOfReview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Review" nillable="true" type="tns:Review" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReview" nillable="true" type="tns:ArrayOfReview" />
  <xs:complexType name="Review">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="dateReviewed" type="xs:dateTime" />
      <xs:element minOccurs="0" name="prodID" type="xs:int" />
      <xs:element minOccurs="0" name="userID" type="xs:int" />
      <xs:element minOccurs="0" name="userReview" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Review" nillable="true" type="tns:Review" />
</xs:schema>